<div class="head">
  <h1 class="text-white">Aluno: Wiliam Couto Costa</h1>
  <h1 class="text-white">ToDoList -2</h1>
 
  
</div>
<h1>
  <app-ciclo [valorInicial]="valor" *ngIf="!deletarCiclo"></app-ciclo> 
  <button (click)="mudarValor()" class="primary">Mudar Valor</button>
  <button (click)="destruirCiclo()" class="primary">Destruir Ciclo</button>
</h1>
<div class="ciclo"> 
</div>
<div>
  <p *ngFor="let item of items"> 
    {{item}} <button (click)="removeTarefa(item)" class="danger">Remover</button>
  </p>
</div>

{{tarefa}}
<button (click)="addTarefa()" class="primary">Adicionar</button>

 <input type ="text" [(ngModel)] =" tarefa " class="input-text"> 
 